REMOTE_HOST=raspi-gorghy
REMOTE_USER=pi
REMOTE_DIR=/opt/finance-tracker
REMOTE_PROBE_TIMEOUT=10
REMOTE_CMD_TIMEOUT=60
REMOTE_TRANSFER_TIMEOUT=120
REMOTE_BUILD_TIMEOUT=600
SSH_RETRY_COUNT=3
SSH_RETRY_DELAY=5
